.main {
  padding: 5%;
}

.input {
  width: 20%;
  min-width: 180px;
}

.section {
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.notification {
  min-width: 180px;
  width: 50%;
}

.item-name, .item-date {
  margin-left: 10px;
  margin-right: 10px;
}

.done {
  text-decoration: line-through;
}

.notification>.delete {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.notification {
  padding-right: 50px;
}

.arrows {
  float: right;
}

span.icon {
  cursor: pointer;
}